.done {
    background-color: rgb(172, 81, 100);
}

.task {
    border: 2px solid #000;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__head {
        font-weight: 700;
        font-size: 17px;
    }
    & button {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        background-color: transparent;
    } & i {
        font-size: 25px;
    }
}